<ul class="">
  <% order.sources.each do |source| %>
    <li class="">
      <%= link_to (source.title.presence || source.link), source.link,
        target: '_blank', class: (order.deprecated?? 'text-secondary' : '')
      %>
    </li>
  <% end %>
</ul>