<ul class="">
  <% order.sources.each do |source| %>
    <li class="">
      <a class="<%= 'text-secondary' if order.deprecated? %>" target="_blank" href="<%= source.link %>">
        <%= source.link %>
      </a>
    </li>
  <% end %>
</ul>