<div class="container-fluid">
  <div class="row">
    <div class="col d-flex flex-column" style="max-height: 100vh">
      <%= render partial: 'layouts/header' %>
      <div class="row my-2">
        <div class="col-auto m-auto">
          <div class="list-group list-group-horizontal">
            <% @categories.each do |category| %>
              <% if category.items.any? || category == Category.default %>
                <% active = category == @category %>
                <%= render partial: 'category', locals: { category: category, active: active } %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="row flex-grow-1 justify-content-center overflow-auto">
        <div class="col-xs-12 col-sm-11 col-xl-7">
          <ul class="list-group" id="items_list">
            <% @items.each do |item| %>
              <%= render partial: 'item', locals: { item: item } %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>