<div class="container-fluid">
  <div class="row">
    <div class="col d-flex flex-column" style="max-height: 100vh">
      <div class="row">
        <div class="col text-center py-2 mb-2 bg-warning">
          <h2>COVID-19 HUB - GUÍA DE PRÁCTICAS Y PROTOCOLOS</h2>
        </div>
      </div>
      <div class="row flex-grow-1 justify-content-center overflow-auto">
        <div class="col-xs-12 col-sm-10 col-xl-7">
          <div class="list-group">
            <% 50.times do @items.each do |item| %>
              <a href="#" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between align-items-center">
                  <h5 class="mb-1"><%= item.title %></h5>
                  <span class="badge badge-primary badge-pill"><%= item.orders.count %></span>
                </div>
                <p class="mb-1"><%= item.description %></p>
              </a>
            <% end end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>