<div class="container-fluid">
  <div class="row">
    <div class="col d-flex flex-column" style="max-height: 100vh">
      <div class="row">
        <div class="col text-center py-1 mb-2 bg-warning">
          <h3>COVID-19 HUB</h3>
          <h6>GUÍA RÁPIDA DE PRÁCTICAS Y PROTOCOLOS</h6>
        </div>
      </div>
      <div class="row flex-grow-1 justify-content-center overflow-auto">
        <div class="col-xs-12 col-sm-11 col-xl-7">
          <%= render partial: 'items_list', locals: { items: @items } %>
        </div>
      </div>
    </div>
  </div>
</div>