body {
  background-color: #fff8e5;
}

.text-line-through {
  text-decoration: line-through;
}

.no-wrap {
  white-space: nowrap;
}

.clickable {
  cursor: pointer;
}

input[type='checkbox'].is-valid ~ label{
  color: unset !important;
}

.font-size-90 {
  font-size: 90%;
}

.list-style-none {
  list-style: none;
}

.v-align-middle {
  vertical-align: middle;
}

@media (max-width: 768px) {
  .line-height-xs-0 {
    line-height: 0rem;
  }

  .text-small-xs {
    font-size: 80%;
  }
}

@media (min-width: 992px) {
  .line-height-md-normal {
    line-height: 1.5;
  }
}

.overflow-y-auto {
  overflow-y: auto;
}

.item.list-group-item-action:hover {
  background-color: $gray-200;
}

.item.list-group-item-action {
  background-color: $gray-100;
}

.bg-inherit {
  background-color: inherit;
}