body {
  background-color: #fff8e5;
}

.text-line-through {
  text-decoration: line-through;
}

.no-wrap {
  white-space: nowrap;
}

.clickable {
  cursor: pointer;
}

input[type='checkbox'].is-valid ~ label{
  color: unset !important;
}

.font-size-90 {
  font-size: 90%;
}

.list-style-none {
  list-style: none;
}

.selected {
  background-color: #f8f9fa;
}