body {
  background-color: #fff8e5;
}

.text-line-through {
  text-decoration: line-through;
}

.clickable {
  cursor: pointer;
}

input[type='checkbox'].is-valid ~ label{
  color: unset !important;
}